
header{

 height: 50px;
 background-color: #e4e5e6; 
 display: flex;
 align-items: center;
 gap: 20px;
 
 box-shadow: 0px 2px 2px rgba(0,0,0,0.1),0px 1px 1px rgba(0,0,0,0.05);
}
header> span{
font-size: larger;

}